pipeline/FIX_DELETE_01.json
{
	"name": "FIX_DELETE_01",
	"properties": {
		"description": "ファイル削除パイプライン",
		"activities": [
			{
				"name": "GetDeleteFileMessage",
				"description": "削除情報ファイルのメタデータに設定されている一時ファイル名を取得",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-ms-version": "2024-11-04"
					},
					"url": {
						"value": "@concat('https://20250110mis.blob.core.windows.net/',pipeline().parameters.tmp_dir,'_DEL/DEL_INFO','?comp=metadata')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "IfConditionDeleteFileExist",
				"description": "下記条件に満たす場合True,それ以外の場合False\n・削除対象の一時ファイル名と削除情報ファイルのメタデータに設定している一時ファイル名が一致する場合",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetDeleteFileMessage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.tmp_file_name, activity('GetDeleteFileMessage').output.ADFWebActivityResponseHeaders['x-ms-meta-tmp'])",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"description": "ファイル削除パイプラインを呼び出し",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FIX_DELETE_02",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"del_file_dir": {
										"value": "@concat(substring(pipeline().parameters.tmp_dir,add(indexOf(pipeline().parameters.tmp_dir, '/'),1),sub(sub(length(pipeline().parameters.tmp_dir),indexOf(pipeline().parameters.tmp_dir, '/')),1)),'_DEL')",
										"type": "Expression"
									},
									"container": {
										"value": "@substring(pipeline().parameters.tmp_dir, 0, indexOf(pipeline().parameters.tmp_dir, '/'))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tmp_dir": {
				"type": "string"
			},
			"tmp_file_name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SAMPLE"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-27T02:48:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}