pipeline/FROM_STOREGY.json
{
	"name": "FROM_STOREGY",
	"properties": {
		"activities": [
			{
				"name": "TEST_DATA_COPY",
				"description": "ファイル名変換、文字コード変換のテスト",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "from_storage_activity_copy_from_20250109",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@replace(pipeline().parameters.tmp_dir, 'input/','')",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.tmp_file_name",
								"type": "Expression"
							},
							"file_column_delimiter": {
								"value": "@pipeline().parameters.tmp_file_column_delimiter",
								"type": "Expression"
							},
							"file_encoding": {
								"value": "@pipeline().parameters.tmp_file_encoding",
								"type": "Expression"
							},
							"file_quote_char": {
								"value": "@pipeline().parameters.tmp_file_quote_char",
								"type": "Expression"
							},
							"file_escape_char": {
								"value": "@pipeline().parameters.tmp_file_escape_char",
								"type": "Expression"
							},
							"file_first_row_header": {
								"value": "@pipeline().parameters.tmp_file_first_row_header",
								"type": "Expression"
							},
							"null_value": {
								"value": "@pipeline().parameters.tmp_file_null_value",
								"type": "Expression"
							},
							"container": "input"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "from_storage_activity_copy_to_20250109",
						"type": "DatasetReference",
						"parameters": {
							"dir": {
								"value": "@pipeline().parameters.core_dir",
								"type": "Expression"
							},
							"file_name": {
								"value": "@variables('core_file_name')",
								"type": "Expression"
							},
							"container": "input"
						}
					}
				]
			},
			{
				"name": "web",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "TEST_DATA_COPY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version": "2024-11-04",
						"x-ms-meta-tmp": {
							"value": "@pipeline().parameters.tmp_file_name",
							"type": "Expression"
						},
						"x-ms-blob-type": "BlockBlob"
					},
					"disableCertValidation": true,
					"turnOffAsync": false,
					"url": {
						"value": "@concat('https://20250110mis.blob.core.windows.net/',replace(pipeline().parameters.tmp_dir, 'tmp', 'del'),'/del_info')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat(pipeline().parameters.core_dir,'/',variables('core_file_name'))",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			}
		],
		"parameters": {
			"tmp_dir": {
				"type": "string"
			},
			"tmp_file_name": {
				"type": "string"
			},
			"core_dir": {
				"type": "string",
				"defaultValue": "core/if1"
			},
			"core_file_name": {
				"type": "string",
				"defaultValue": "if1"
			},
			"tmp_file_column_delimiter": {
				"type": "string",
				"defaultValue": ","
			},
			"tmp_file_row_delimiter": {
				"type": "string",
				"defaultValue": "\\r\\n"
			},
			"tmp_file_encoding": {
				"type": "string",
				"defaultValue": "SHIFT-JIS"
			},
			"tmp_file_quote_char": {
				"type": "string",
				"defaultValue": "\""
			},
			"tmp_file_escape_char": {
				"type": "string",
				"defaultValue": "\\"
			},
			"tmp_file_first_row_header": {
				"type": "bool",
				"defaultValue": false
			},
			"tmp_file_null_value": {
				"type": "string",
				"defaultValue": "\"\""
			}
		},
		"variables": {
			"core_file_name": {
				"type": "String",
				"defaultValue": "@concat(pipeline().parameters.core_file_name,'_SC',formatDateTime(addhours(utcNow(),9),'yyyyMMdd-HHmmss'),'.csv')"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-27T02:48:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}