pipeline/pipeline3.json
{
	"name": "pipeline3",
	"properties": {
		"activities": [
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "delete_Binary",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "aa",
					"value": {
						"value": "@string(activity('Delete1').error.message)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"aa": {
				"type": "String"
			},
			"message": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-23T04:47:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}