pipeline/SBTSUP0024-pipeline02.json
{
	"name": "SBTSUP0024-pipeline02",
	"properties": {
		"activities": [
			{
				"name": "SBTSUP0024-pipeline02-web01",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SBTSUP0024-pipeline02-callDataFlow01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-ms-version": "2024-11-04"
					},
					"url": {
						"value": "@pipeline().parameters.del_info_file",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "SBTSUP0024-pipeline02-web02",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SBTSUP0024-pipeline02-web01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version": "2024-11-04",
						"x-ms-blob-type": "BlockBlob",
						"x-ms-meta-tmp": {
							"value": "@activity('SBTSUP0024-pipeline02-web01').output.ADFWebActivityResponseHeaders['x-ms-meta-tmp']",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@pipeline().parameters.del_info_file",
						"type": "Expression"
					},
					"body": {
						"value": "@concat(\nactivity('SBTSUP0024-pipeline02-web01').output.Response,\ndecodeUriComponent('%0D%0A'),\n'sup:',pipeline().parameters.core_dir,'/',pipeline().parameters.core_file_name,\ndecodeUriComponent('%0D%0A'),\n'sup:mbkcorecontainer01/',pipeline().parameters.sup_dir,'/',pipeline().parameters.core_file_name\n)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "SBTSUP0024-pipeline02-callDataFlow01",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SBTSUP0024_pipeline02_dataFlow01",
						"type": "DataFlowReference",
						"parameters": {
							"core_file_name": {
								"value": "'@{pipeline().parameters.core_file_name}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SBTSUP0024Pipeline02DataFlow01Source01": {
								"dir": "@pipeline().parameters.core_dir",
								"file_name": "@pipeline().parameters.core_file_name"
							},
							"SBTSUP0024Pipeline02DataFlow01Sink01": {
								"dir": "@pipeline().parameters.sup_dir",
								"file_first_row_header": "@pipeline().parameters.sup_file_first_row_header"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"core_dir": {
				"type": "string"
			},
			"core_file_name": {
				"type": "string"
			},
			"sup_dir": {
				"type": "string",
				"defaultValue": "sup/CXFT000101"
			},
			"sup_file_first_row_header": {
				"type": "bool",
				"defaultValue": false
			},
			"del_info_file": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-03-13T06:06:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}