pipeline/SBTSUP0025-pipeline02.json
{
	"name": "SBTSUP0025-pipeline02",
	"properties": {
		"activities": [
			{
				"name": "SBTSUP0025-pipeline02-web02",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SBTSUP0025-pipeline02-web01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-version": "2024-11-04",
						"x-ms-blob-type": "BlockBlob",
						"x-ms-meta-tmp": {
							"value": "@activity('SBTSUP0025-pipeline02-web01').output.ADFWebActivityResponseHeaders['x-ms-meta-tmp']",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@pipeline().parameters.del_info_file",
						"type": "Expression"
					},
					"body": {
						"value": "@concat(\nactivity('SBTSUP0025-pipeline02-web01').output.Response,\ndecodeUriComponent('%0D%0A'),\n'sup:',pipeline().parameters.core_dir,'/',pipeline().parameters.core_file_name,\ndecodeUriComponent('%0D%0A'),\n'sup:mbkcorecontainer01/',pipeline().parameters.sup_old_dir,'/',pipeline().parameters.core_file_name,\ndecodeUriComponent('%0D%0A'),\n'sup:mbkcorecontainer01/',pipeline().parameters.sup_new_dir,'/',pipeline().parameters.sup_new_file_name\n)",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "SBTSUP0025-pipeline02-web01",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SBTSUP0025-pipeline02-callDataFlow01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-ms-version": "2024-11-04"
					},
					"url": {
						"value": "@pipeline().parameters.del_info_file",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "SBTSUP0025-pipeline02-callDataFlow01",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SBTSUP0025_pipeline02_dataFlow01",
						"type": "DataFlowReference",
						"parameters": {
							"sup_file_name_new": {
								"value": "'@{pipeline().parameters.sup_new_file_name}'",
								"type": "Expression"
							},
							"sup_file_name_old": {
								"value": "'@{pipeline().parameters.core_file_name}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"source1": {
								"dir": "@pipeline().parameters.core_dir",
								"file_name": "@pipeline().parameters.core_file_name"
							},
							"SBTSUP0025Pipeline02DataFlow01Sink02": {
								"dir": {
									"value": "@pipeline().parameters.sup_old_dir",
									"type": "Expression"
								},
								"file_first_row_header": "@pipeline().parameters.sup_file_first_row_header"
							},
							"SBTSUP0025Pipeline02DataFlow01Sink01": {
								"dir": "@pipeline().parameters.sup_new_dir",
								"file_first_row_header": {
									"value": "@pipeline().parameters.sup_file_first_row_header",
									"type": "Expression"
								}
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.test_data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item(), '1')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Azure Function1",
										"type": "AzureFunctionActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"functionName": "test",
											"method": "GET"
										},
										"linkedServiceName": {
											"referenceName": "AzureFunction1",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"core_dir": {
				"type": "string"
			},
			"core_file_name": {
				"type": "string"
			},
			"sup_old_dir": {
				"type": "string",
				"defaultValue": "sup/CXFT008101/old"
			},
			"sup_new_dir": {
				"type": "string",
				"defaultValue": "sup/CXFT008101/new"
			},
			"sup_new_file_name": {
				"type": "string",
				"defaultValue": "CXFT008101.csv"
			},
			"sup_file_first_row_header": {
				"type": "bool",
				"defaultValue": false
			},
			"del_info_file": {
				"type": "string"
			},
			"test_data": {
				"type": "array",
				"defaultValue": [
					"1",
					"2"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-27T06:47:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}